.footer {
	background-color: var(--footer-background);
	padding: var(--gap-3) var(--gap-1);
	gap: var(--gap-1);
	height: 20rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.footer__logo {
	background-color: var(--dark-moderate--cyan-footer);
	width: 12rem;
	height: 3rem;
	mask: url("../../public/images/logo.svg") no-repeat center;
	mask-size: contain;
}

.footer__link-container {
	display: flex;
	gap: var(--gap-2);
}

.footer__link {
	text-decoration: none;
	color: var(--dark-moderate--cyan-footer);
}

.footer__social-container {
	margin-top: auto;
	display: flex;
	gap: var(--gap-2);
}
