.footer {
	background-color: var(--footer-background);
	padding: var(--gap-3) var(--gap-1);
	gap: var(--gap-1);
	height: 20rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.footer__logo {
	background-color: var(--dark-moderate--cyan-footer);
	width: 12rem;
	height: 3rem;
	mask: url("../../public/images/logo.svg") no-repeat center;
	mask-size: contain;
}

.footer__link-container {
	display: flex;
	gap: var(--gap-2);
}

.footer__link {
	text-decoration: none;
	color: var(--dark-moderate--cyan-footer);
}

.footer__link:hover {
	color: var(--white);
}

.footer__social-container {
	margin-top: auto;
	display: flex;
	gap: var(--gap-2);
}

.footer__social {
	width: 1.25rem;
	height: 1.25rem;
	background-color: var(--dark-moderate--cyan-footer);
	mask-repeat: no-repeat;
	mask-position: center;
	mask-size: cover;
}

.footer__social:hover {
	background-color: var(--white);
}

.footer__social:nth-of-type(1) {
	mask-image: url("../../public/images/icon-facebook.svg");
}
.footer__social:nth-of-type(2) {
	mask-image: url("../../public/images/icon-instagram.svg");
}
.footer__social:nth-of-type(3) {
	mask-image: url("../../public/images/icon-twitter.svg");
}
.footer__social:nth-of-type(4) {
	mask-image: url("../../public/images/icon-pinterest.svg");
}
