.hero {
	position: relative;
	display: grid; /* this is needed to eliminate the weird 3px gap after */
}

.hero__overlay {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	position: absolute;
	gap: var(--gap-2);
}

.hero__title {
	color: var(--white);
	font-size: 2.5rem;
	text-align: center;
	letter-spacing: 0.25ch;
}

.hero__image {
	height: 100%;
}

@media screen and (min-width: 640px) {
	.hero__overlay {
		gap: var(--gap-3);
		justify-content: flex-start;
	}
	.hero__title {
		margin-top: 15%;
		font-size: 3.5rem;
	}
}
