.point-container {
	display: flex;
}
.point-container--left {
	flex-wrap: wrap;
}
.point-container--right {
	flex-wrap: wrap-reverse;
}

.point {
	background-color: var(--white);
	position: relative;
	display: grid;
	align-items: center;
}

.point__image {
	height: 100%;
}

.point__overlay {
	padding: var(--gap-3) var(--gap-1);
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: var(--gap-1);
	width: 100%;
}

.point__overlay--text-only {
	color: var(--dark-grayish-blue);
}

.point__overlay--text-n-image {
	color: var(--very-dark-desaturated-blue);
	position: absolute;
	bottom: 0;
}

.point__title {
	font-size: 2rem;
	padding: 0 var(--gap-1);
}

.point__text {
	color: inherit;
	line-height: 1.5rem;
}

.point__link {
	text-decoration: none;
	position: relative;
}

.point__link::after {
	content: "";
	background-color: var(--accent);
	width: 100%;
	height: 0.25rem;
	position: absolute;
	bottom: 0;
	left: 0;
	border-radius: 1rem;
	outline: 0.25rem solid var(--accent);
	mix-blend-mode: multiply;
}

@media screen and (min-width: 640px) {
	.point {
		flex-basis: 50%;
	}
}
