@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Barlow", sans-serif;
}

:root {
	/* ### primary */
	--soft-red: hsl(7, 99%, 70%);
	--yellow: hsl(51, 100%, 49%);
	--dark-desaturated-cyan--graphic-design-text: hsl(167, 40%, 24%);
	--dark-blue--photography-text: hsl(198, 62%, 26%);
	--dark-moderate--cyan-footer: hsl(168, 34%, 41%);

	/* ### neutral */
	--very-dark-desaturated-blue: hsl(212, 27%, 19%);
	--very-dark-grayish-blue: hsl(213, 9%, 39%);
	--dark-grayish-blue: hsl(232, 10%, 55%);
	--grayish-blue: hsl(210, 4%, 67%);
	--white: hsl(0, 0%, 100%);

	--gap-1: 1.5rem;
	--gap-2: 2rem;
	--gap-3: 4.5rem;
}

body {
	background-color: var(--dark-moderate--cyan-footer);
}

.pointer {
	cursor: pointer;
}

.font-secondary {
	font-family: "Fraunces", serif;
}

.image {
	max-width: 100%;
}
